<p align="center">
    <a href="https://enterkomputer.com" target="_blank">
        <img src="https://avatars0.githubusercontent.com/u/176936301" height="100px">
    </a>
    <h1 align="center">Enterkomputer API Boilerplate</h1>
    <br>
</p>

Skeleton API services for project Enterkomputer using Yii2 Framework.

REQUIREMENTS
------------
The minimum requirement by this project template that your Web server supports PHP 7.4.


INSTALLATION
------------
### Just Download from an Archive File


### Install from an Archive File
Extract the archive file downloaded from [yiiframework.com](https://github.com/rahmatsyaparudin/enter-boilerplate) to localhost.
Set extraCookie validation key in `config/params.php` file to add some random secret string:

```php
$params['request'] = [
    'extraCookies' => 'add-your-extra-cookies',
];
```

CONFIGURATION
-------------

### Database
Edit the file `.env` with real data, for example:

```env
database.default.dsn='pgsql:host=localhost;port=3306;dbname=database_name'
database.default.username='username'
database.default.password='password'
database.default.charset='utf8mb4'
database.default.enableSchemaCache=false
database.default.schemaCacheDuration=3600
database.default.schemaCache='cache'
```

### Last Setup
Update dependencies with Composer 

    ```bash
    composer install  
    ```

### Update Skeleton
Update vendor yii2-api-skeleton using Composer 

    ```bash
    composer update rahmatsyaparudin/yii2-api-skeleton
    ```

Update skeleton files to your project using Composer 

    ```bash
    composer skeleton-update  
    ```
